<br>
<br>

<div class="acct edit-title">
  <!-- Account Page Title Text Goes Here -->
  <form action="/profile" method="post">
  <h1 id="account-text">Edit your account</h1>
  <input type="hidden" name="_method" value="patch">
</div>
<div class="acct nfo">
  <!-- Username -->
  <input type="text" name="username" placeholder="Username" value="<%= @user.username %>">
</div>
<div class="acct nfo">
  <!-- First Name -->
  <input type="text" name="f_name" placeholder="First name" value="<%= @user.f_name %>">
</div>
<div class="acct nfo">
  <!-- Last Name -->
  <input type="text" name="l_name" placeholder="Last name" value="<%= @user.l_name %>">
</div>
<div class="acct nfo">
  <!-- Location -->
  <input type="text" name="location" placeholder="Location" value="<%= @user.location %>">
</div>
<div class="acct nfo">
  <!-- E-Mail -->
  <input type="email" name="email" placeholder="Email address" value="<%= @user.email %>">
</div>
<div class="acct save-del">
  <div class="save">
    <!-- Save Button Goes Here -->
    <input type="submit" value="Save">
  </div>
  <div class="del">
    <!-- Delete Button Goes Here -->
    <input type="submit" value="Delete account">
  </div>
</div>


<!--
<div id="account-background">
<div id="account-form">
<form action="/profile" method="post">
<h1 id="account-text">Edit your account</h1>
<input type="hidden" name="_method" value="patch">

<input type="text" name="username" placeholder="Username" value="<%= @user.username %>">
<br>
<br>
<input type="text" name="f_name" placeholder="First name" value="<%= @user.f_name %>">
<br>
<br>
<input type="text" name="l_name" placeholder="Last name" value="<%= @user.l_name %>">
<br>
<br>
<input type="text" name="location" placeholder="Location" value="<%= @user.location %>">
<br>
<br>
<input type="email" name="email" placeholder="Email address" value="<%= @user.email %>">
<br>
<br>
<input type="submit" value="Save">
</form>
<form id="delete-account" action="/" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete account">
  </form>
</form>
</div>
</div> -->
